html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

#main-layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content-container {
  flex-grow: 1;
}