html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

#main-layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    #f5f7fa 0%,
    #c3cfe2 100%
  );
}

#content-container {
  flex-grow: 1;
}